{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>

    {% if article_content_list %}
        <div class="container">
            {%  for article in article_content_list %}
                <div class="d-flex flex-stack position-relative mb-7">
                    <div class="position-absolute top-0 start-0 rounded h-100 bg-secondary w-4px"></div>
                    <div class="col-md-10">
                        <div class="fw-bold ms-5">
                            <a href="" class="text-gray-800 text-hover-primary fw-bolder fs-6 pe-7 txt_line">{{ article.title }}</a>
                            <div class="fs-7 text-gray-700">{{ article.content }}</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="fw-bold ms-5" style="text-align: right;">
                            <a class="fs-7 fw-bolder text-dark">{{ article.created_at }}</a>
                            <span class="badge badge-info py-3 px-6 fs-7 mb-2 mt-3">{{ article.writer.profile.nickname }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="text-center">
            <h1>No Articles YET!</h1>
        </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}


{% endblock content %}